<div
  class="bg-image p-5 position"
  style="background-image: url('../images/banner.jpg');">
</div>
<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body p-5">
            <h5 class="card-title">Book List</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">All Books</li>
                <li class="list-group-item">Books to Read</li>
                <li class="list-group-item">Read Books</li>
            </ul>
        </div>
    </div>
    <div>
        <table class="table mt-5">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Read Options</th>
                <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each books}}
                <tr>
                <th scope="row">{{id}}</th>
                <td>{{book_title}}</td>
                <td>{{author_name}}</td>
                <td>
                    {{#if read}}
                    <select id="Select" class="form-select">
                        <option selected="true">Read</option>
                        <option>Not Read</option>
                    </select>
                    {{else}}
                    <select id="Select" class="form-select">
                        <option>Read</option>
                        <option selected="true">Not Read</option>
                    </select>
                    {{/if}}
                </td>
                <td><button type="button" class="btn btn-danger">X</button></td>
                </tr>
                  {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script src="../javascript/logout.js"></script>