<div
  class="bg-image p-5 position"
  style="background-image: url('../images/banner.jpg');">
</div>
<div class="container m-5">
    <div class="row">
               <div class="col-6">
            <form class="bg-white p-5 border border-4 border-light rounded">
                <h3>Search book:</h3>
                <div class="mb-3">
                    <label for="Select" class="form-label">Books Available:</label>
                    <select id="Select" class="form-select">
                        <option>Select</option>
                        {{#each books}}
                        <option>{{book_title}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Add Book</button>
            </form>
        </div>
    </div>
</div>

<script src="../javascript/logout.js"></script>