<div class="bg-image p-5 position" style="background-image: url('../images/banner.jpg');">
</div>
<div class="container m-5">
    <div class="row">
        <div class="col-12">
            <form class="p-5 border border-4 border-light rounded">
                <h3>Search for a Book by Title</h3>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Title">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <br/>
            <h4>Book Results</h4>
            <table class="table" id="foo">
                <thead>
                    <th>ID</th>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                <tbody>
            </table>

            <template id="dataRow">
                <tr>
                    <td>{value1}</td>
                    <td>{value2}</td>
                    <td>{value3}</td>
                    <td>{value4}</td>
                </tr>
            </template>
        </div>
    </div>
</div>
<script src="../javascript/logout.js"></script>
<script src="../javascript/books.js"></script>