{{#if loggedIn}}
<div class="py3 mb-4">
    <img src="../images/hero-image.jpg" class="hero-image" alt="learning stuff">
</div>
<div class="container mt-5">
   
    <div class="card" style="width: 18rem;">
        <div class="card-body p-5">
            <h5 class="card-title">Course List</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Course 1</li>
                <li class="list-group-item">Course 2</li>
            </ul>
        </div>
    </div>

    <div class="pt-5">
        <h5>Course 1</h5>
        <div>
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 1</div>
                </div>
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 2</div>
                </div>
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 3</div>
                </div>
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 4</div>
                </div>
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 5</div>
                </div>
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 6</div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-5">
        <h5>Course 2</h5>
        <div>
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 1</div>
                </div>
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 2</div>
                </div>
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 3</div>
                </div>
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 4</div>
                </div>
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 5</div>
                </div>
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 6</div>
                </div>
                <div class="col">
                    <div class="p-5 border bg-light text-center">Module 7</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../javascript/logout.js"></script>
{{else}}
<header>
    <h1 class="p-3 mb-2 bg-light text-dark text-center">Welcome to The Learning Porch</h1>
</header>
<div class="container d-flex justify-content-center p-3">
    <div class="row">
        <div class="col">
            <img src="../images/loginImg.jpg" class="img-fluid" alt="Getting to work.">
        </div>
        <div class="col">
            <h2>Sign in to your account</h1>
            <form class="signin-form">
                <div class="mb-3">
                    <label for="Email" class="form-label">Email Address:</label>
                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="Password">
                </div> 
                <div class="d-flex justify-content-evenly"> 
                    <button type="submit" id="login" class="btn btn-primary">Login</button>
                    <a href="/signup" class="btn btn-primary">signup</a>
                </div>
            </form>
        </div>
    </div>
</div>
    
    
<script src="../javascript/login.js"></script>
{{/if}}