<div>
    <img src="../images/banner.jpg" class="img-fluid" alt="hero">
</div>

<div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Course List</h5>
            <p class="card-text">Course 1</p>
        </div>
    </div>
</div>

<div>
    <h5>Course 1</h5>
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col">
                <div class="p-3 border bg-light">Module 1</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Module 2</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Module 3</div>
            </div>
        </div>
    </div>
</div>