{{#if loggedIn}}
<div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Course List</h5>
            <p class="card-text">Course 1</p>
        </div>
    </div>
</div>

<div>
    <h5>Course 1</h5>
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col">
                <div class="p-3 border bg-light">Module 1</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Module 2</div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">Module 3</div>
            </div>
        </div>
    </div>
</div>
<script src="../javascript/logout.js"></script>
{{else}}
    <form class="signin-form">
        <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password">
        </div>  
        <button type="submit" id="login" class="btn btn-primary">Login</button>
        {{!-- <a href="/signup" class="btn btn-primary">signup</a> --}}
    </form>

    <form class="signup-form">
        <div class="mb-3">
            <label for="signup-username" class="form-label">Username</label>
            <input type="text" class="form-control" id="singup-username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="signup-email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="signup-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="signup-password">
        </div>  
        <button type="submit" id="signup" class="btn btn-primary">Sign up</button>
    </form>
    
<script src="../javascript/login.js"></script>
{{/if}}