<header>
    <h1 class="p-3 mb-2 bg-light text-dark text-center">Welcome to The Learning Porch</h1>
</header>
<div class="container d-flex justify-content-center p-3">
    <div class="row">
        <div class="col">
            <img src="../images/loginImg.jpg" class="img-fluid" alt="Getting to work.">
        </div>
        <div class="col">
            <h2>Sign in to your account</h1>
            <form class="signup-form">
                <div class="mb-3">
                    <label for="signup-username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="singup-username" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="signup-email" class="form-label">Email address:</label>
                    <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="signup-password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="signup-password">
                </div>  
                <button type="submit" id="signup" class="btn btn-primary d-flex justify-content-center">Sign up</button>
            </form>
        </div>
    </div>
</div>

<script src="../javascript/signup.js"></script>